.containerGrid {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1.3fr;
  gap: 20px;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  width: 95%;
  min-height: 550px;
  background: rgba(0, 0, 0, 0.373);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.containerCadastrados {
  background: rgba(0, 0, 0, 0.373);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  text-align: center;
  min-height: 500px;
}

img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  opacity: 0.8;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 800px) {
  .containerGrid {
    display: flex;
    flex-direction: column;
    margin: 20px 1%;
    padding: 20px 0;
  }

  .containerCadastrados {
    width: 95%;
  }

  img {
    width: 95%;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {

  .containerCadastrados,
  img {
    width: 250px;
  }
}