.modal-content {
    background: rgba(0, 0, 0, 0.373);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    height: auto;
    margin: 10% auto;
    text-align: center;
}

.input-field {
    margin: 10px auto;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container button {
    width: 48%;
}

button {
    width: 50%;
    margin: 10px auto;
    height: 45px;
    border-radius: 40px;
    border: none;
    outline: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 18px;
    color: black;
    font-weight: 700;
    text-shadow: none;
}